/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}


/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}


/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* 基本情報編集 */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 検索フォーム */
.form-right {
  float: right;
}

#search {
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -o-border-radius:6px;
  -ms-border-radius:6px;
  border-radius:6px;
  width: 200px;
  height: 2.5em;
}